h1 計算畢業日期

/ #sandbox-container.col-md-12
/   .input-group
/     span.input-group-addon#basic-addon1
/       | 開始日期：
/     input.form-control type="text" placeholder="#{Date.today}" aria-describedby="basic-addon1" data-provide='datepicker'
/   br
/   .input-group
/     span.input-group-addon#basic-addon1
/       | 畢業日期：
/     input.form-control type="text" placeholder="選擇預計畢業日期" aria-describedby="basic-addon1" data-provide='datepicker'
/   br
/   button.btn.btn-default type="submit" value="Submit" 計算




